/* Vars */
:root {
  --light-color: #fff;
  --purple-color: #0f488b;
}

/* Base styles */

html,
body {
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  min-width: 320px;
}

body {
  font-size: 15px;
  font-family: 'Arial';
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}
.site-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1310px;
}

/* Helper styles */
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn-more {
  display: none;
}

.inline {
  display: inline;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: var(--light-color);

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.section-offset {
  margin-bottom: 100px;
}

.section-title {
  margin: 0;
  font-size: clamp(26px, 4.2vw, 50px);
  font-weight: 700;
  line-height: 120%;
  color: var(--purple-color);
}

/* Header */

.header__wrapper {
  padding: 35px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: clamp(30px, 4vw, 68px);
}
/* Logo */

.logo {
  width: 180px;
  height: 44px;
  align-self: flex-end;
}

.logo-skolkovo {
  width: 70px;
  height: 50px;
}

/* Btn */

.btn {
  display: block;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 700;
  color: #3f4444;
  line-height: 137.5%;
  letter-spacing: 0.1px;
  background-color: #f0ab00;
  cursor: pointer;
}

.unscroll {
  overflow: hidden;
}

/* burger */
.burger {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: #f5f5f5;
  z-index: 80;
}

.burger-flow {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #fff;
}

.burger span {
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #830051;
  transition: all 0.3s ease;
}

.burger span:first-child {
  top: 11px;
}
.burger span:nth-child(2) {
  top: 16px;
}
.burger span:last-child {
  top: 21px;
}

.flex {
  display: flex !important;
}

.rmSecond {
  opacity: 0;
}
.centerizing {
  top: 17px !important;
  background-color: #9db0ac !important;
}
.rotF {
  transform: rotate(45deg);
}
.rotL {
  transform: rotate(-45deg);
}

/* Nav */
.nav {
  align-self: center;
  background-color: #fff;
  align-items: center;
  z-index: 50;
  height: 100%;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: clamp(25px, 3vw, 50px);
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  color: var(--purple-color);
}

.nav-contact {
  display: none;
}

.nav-contact button {
  margin-bottom: 30px;
}

.nav-contact__info-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  line-height: 166.667%;
  color: #3f4444;
}

.nav-contact__info-name {
  margin: 0;
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: 700;
  line-height: 160%;
  color: #3f4444;
}

.nav-contact__info-mail {
  margin-bottom: 17px;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 133.333%;
  color: #830051;
}

.nav-contact__info-tel {
  margin-bottom: 10px;
  display: block;
  font-size: 24px;
  font-weight: 700;
  color: #3f4444;
}

.nav-contact__info-tel--add {
  font-size: 12px;
}

/* Hero */

.hero {
  margin-bottom: 100px;
}

.hero__wrapper {
  position: relative;
  padding-top: 58px;
}

.hero__top {
  margin-bottom: clamp(48px, 4vw, 76px);
  max-width: 550px;
}

.hero__title {
  margin: 0;
  margin-bottom: 27px;
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 700;
  line-height: 116.667%;
  color: #830051;
}

.hero__descr {
  margin: 0;
  font-size: clamp(16px, 4vw, 24px);
  font-weight: 400;
  color: #3f4444;
}

.hero__content {
  padding: clamp(25px, 6.4vw, 80px) 0 clamp(40px, 8vw, 160px);
  background-image: url('../img/hero-bg.jpg');
  background-color: rgba(131, 0, 81);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.hero__block-content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero__text {
  margin-bottom: 44px;
}
.hero__text p {
  margin: 0;
  margin-bottom: 20px;
  max-width: clamp(340px, 26vw, 550px);
  font-size: clamp(14px, 2vw, 17px);
  font-weight: 400;
  line-height: 158.824%;
  color: var(--light-color);
}

.hero__text button {
  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  color: #f0ab00;
}

.hero__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  color: var(--light-color);
}

.hero__info span {
  font-size: 16px;
  line-height: 150%;
}

.hero__info time {
  font-size: 30px;
  line-height: 133.333%;
}

.hero__banner {
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
  display: inline-flex;
  justify-content: center;
  position: absolute;
  z-index: 10;
  bottom: 13%;
  right: 0;
  width: clamp(340px, 49.5vw, 940px);
  height: clamp(280px, 38.5vw, 780px);
  background-color: #f0ab00;
}

.hero__banner img {
  align-self: flex-end;
}

/* Programme */

.programme__title {
  margin-bottom: 59px;
}

/* Partners */
.partners {
  padding-top: clamp(40px, 4vw, 100px);
  padding-bottom: 100px;
  background-color: #f5f5f5;
}

.partners__title {
  margin-bottom: clamp(24px, 5vw, 67px);
}

.partners__items {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 15px;
}

.partners__item {
  max-width: 400px;
  min-height: 460px;
  padding: clamp(40px, 3vw, 50px) clamp(25px, 3vw, 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.partners__top {
  display: flex;
  flex-direction: column;
}

.partners__img {
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.partners__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 210px;
  overflow: hidden;
}

.partners__text a {
  font-size: 14px;
  font-weight: 400;
  line-height: 171.429%;
  color: #9db0ac;
}

.partners__descr {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 166.667%;
  color: #3f4444;
}

.partners__info {
  max-width: 261px;
  min-height: 90px;
  position: relative;
  padding-left: 39px;
  display: flex;
  flex-direction: column;

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #9db0ac;
}

.partners__info::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 12px;
  height: 28px;
  background-image: url('../img/arrows-up-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.partners__info span {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
}

/* Footer */
.footer {
  padding-top: clamp(40px, 7.85vw, 82px);
  padding-bottom: clamp(32px, 5.7vw, 71px);
}

.footer__top {
  margin-bottom: 108px;
  display: flex;
  align-items: center;
  gap: 163px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 15px;
  font-weight: 400;
  line-height: 146.667%;
  color: #9db0ac;
}

.b-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.b-contact .contact__info span {
  font-size: clamp(12px, 1.1vw, 15px);
  font-weight: 700;
  line-height: 133.333%;
  color: #3f4444;
}

.b-contact .contact__info p {
  margin: 0;
  font-size: clamp(16px, 1.8vw, 24px);
  font-weight: 700;
  line-height: 250%;
  color: #3f4444;
}

.b-contact .contact__link {
  display: flex;
  flex-direction: column;
}

.b-contact .contact__link .contact__email {
  font-size: clamp(12px, 1.5vw, 15px);
  font-weight: 700;
  line-height: 133.333%;
  color: #830051;
}

.b-contact .contact__link .contact__tel {
  font-size: clamp(20px, 1.5vw, 24px);
  font-weight: 700;
  line-height: 250%;
  color: #3f4444;
}

.b-contact .contact__link .contact__tel span {
  font-size: 15px;
}

/* Media */

@media (max-width: 1024px) {
  .section-title {
    text-align: center;
  }
  .hero__wrapper {
    padding-top: 0;
  }
  .hero__top {
    max-width: 100%;
  }

  .hero__descr {
    max-width: 340px;
  }

  .hero__banner {
    top: 17%;
  }
  .footer__top {
    margin-bottom: clamp(40px, 7vw, 60px);
  }

  .footer__bottom {
    flex-wrap: wrap;
  }

  .footer-item {
    display: flex;
    width: 50%;
  }
  .footer__top {
    flex-direction: column;
    gap: clamp(23px, 6vw, 46px);
  }

  .footer__conf {
    justify-content: flex-end;
  }
}

@media (max-width: 768.01px) {
  .header__wrapper {
    padding: 30px 0 40px;
  }
  .logo {
    width: clamp(148px, 45%, 174px);
    height: clamp(36px, 45%, 42px);
  }
  .burger {
    display: flex;
  }

  .nav {
    display: none;
    padding-top: 50px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
  }

  .nav__list {
    flex-direction: column;
    gap: 25px;
  }

  .nav__link {
    font-size: 20px;
  }

  .nav-contact {
    display: block;
  }

  .logo-skolkovo {
    width: 58px;
    height: 42px;
  }

  .hero {
    margin-bottom: 0;
  }

  .hero__block {
    display: flex;
    align-items: flex-end;
    gap: 20px;
  }

  .hero__block-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero__info time {
    font-size: 24px;
  }

  .hero__block-content button {
    flex-shrink: 0;
  }

  .programme {
    display: none;
  }

  .partners__item {
    min-height: 250px;
    max-width: 100%;
  }

  .partners__text {
    min-height: 150px;
  }

  .partners__info {
    display: none;
  }

  .footer__bottom {
    font-size: 12px;
    line-height: 183.333%;
  }
}

@media (max-width: 700px) {
  .btn-more {
    display: block;
  }

  .hero__banner {
    padding: 0;
    /* position: static; */
    width: 100%;

    position: relative;
    bottom: -3px;
  }

  .hero__banner img {
    align-self: auto;
  }
  .hero__block {
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .hero__block-content {
    flex-direction: column-reverse;
  }

  .hero__info span {
    text-align: center;
  }

  .hero__title {
    text-align: center;
  }

  .hero__descr {
    margin: 0 auto;
  }

  .hero__text {
    margin-bottom: 0;
  }

  #more {
    display: none;
  }

  .b-contact {
    flex-direction: column;
  }
  .b-contact .contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .b-contact .contact__link {
    align-items: center;
  }
}

@media (max-width: 425px) {
  .header__wrapper {
    padding: 20px 0 32px;
  }

  .hero__title {
    text-align: center;
  }

  .hero__descr {
    text-align: center;
  }

  .hero__banner {
    left: 0;
    width: 100%;
  }

  .hero__descr {
    max-width: 250px;
  }

  .footer-item {
    text-align: center;
    width: 100%;
  }

  .footer-item {
    justify-content: center;
  }
}
